<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

  <title>Script Scraper</title>

  <style>
    html {
      box-shadow: inset 2000px 0 0 rgba(193, 193, 193, 0.6);
    }
  </style>
  
</head>

<body>

  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-text">
      <h2>Script Scraper</h2>
    </span>

    <button class="btn btn-lg btn-outline-danger float-left" id="btn1" type="button">Scrape Articles</button>

    <button class="btn btn-outline-primary" type="button">Saved Articles</button>

  </nav>

  {{{ body }}}

</body>

</html>