<div class="jumbotron"
    style="max-width: 600px; margin: auto; margin-top: 10px; padding-top: 20px; padding-bottom: 20px">
    <div class="container">
        <p class="lead">Click on the scrape button to get articles from www.azfamily.com</p>
    </div>
</div>

<div id="wrapper">
    <div id="articles"></div>
    <div id="notes"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="index.js"></script>